.banner {
	width: 100%;
	height: 320px;
	background: #f0f8ff;
	position: relative;
	overflow: hidden;
}
.banner-bg {
    width: 100%;
	height: 300px;
	background: #f0f8ff;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
			/* 外层容器，给文字绝对定位做参照 */
			/* 可视区域：只显示一屏，超出全部隐藏 核心！！ */
			/* 图片总容器 3张图总宽度300% */
.slide-list {
	height: 100%;
	display: flex;
	transition: transform 0.6s ease;
}
			/* 单张图片占满一整屏 */
.slide-item {
	flex: 0 0 100%;
	height: 100%;
	object-fit: contain;
}
			/* 文字固定悬浮顶层 */
.banner-title-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    z-index: 999;
	pointer-events: none;
}
.banner-title-box h1 {
	color: #004488;
	font-size: 36px;
	margin: 0;
}
.banner-title-box p {
	color: #004488;
	font-size: 18px;
}
.box-wrap{
	width: 90%;
	margin: 30px auto;
	display: flex;
	gap: 20px;
}
.indexcard{
	flex: 1;
	border: 1px solid #cce5ff;
	padding: 20px;
	border-radius: 8px;
}
.indexcard a{
	display:inline-block; 
	margin-top:15px; 
	padding:8px 18px; 
	background:#0066bb; 
	color:#fff; 
	text-decoration:none; 
	border-radius:6px;
}
.indexcard h3{
	font-size:20px; 
	color:#004488; 
	margin:0 0 10px;
}
.dy{
	max-width:1200px;
	margin:40px auto;
	padding:0 20px;
}
.dy div{
	background:#f0f8ff; 
	padding:25px; 
	border-radius:12px; 
	border-left:5px solid #0066bb;
}
.dy p{
	line-height:1.8; 
	font-size:16px; 
	color:#333;
}
body {
  background-color: #f2f9fc;
  padding: 30px;
}